
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  padding: 0;
}

body {
  margin: 0;
  background-color: #222;
  font-size: 15px;
  color: #fff;
  padding: 0;
  line-height: 1;
  font-family: 'Helvetica Neue', 'Helvetica', 'Open Sans', 'Arial'
}

b, strong {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

img, object {
  max-width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

iframe {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td {
  vertical-align: middle;
}

ul, ol {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}
h1 {
  margin-bottom: 6px;
  text-align: center;
  font-size: 100%;
  font-weight: 200;
}
h2 {
  font-size: 300%;
  font-weight: 400;
  color: #fff;
}
h3 {
  font-size: 125%;
  font-weight: 300;
  color: #fff;
}

input {
  background-color: #444;
  border: none;
}

.dashboard_main {
	margin: 0px auto;
}

.gridster {
  margin: 0px auto;
}

.icon-background {
  pointer-events: none;
  width: 100%!important;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.1;
  font-size: 1375%;
  text-align: center;
  margin-top: 82px;
}

.list-nostyle {
  list-style: none;
}

.gridster ul {
  list-style: none;
}

.gs-w {
  width: 100%;
  display: table;
  cursor: pointer;
  z-index: auto !important;
}

.iframe {
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

.widget {
  padding: 0px 0px;
  text-align: center;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  background-color: #444444;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

.title {
  color: #fff;
}

.icon-inactive {
  color: #888;
}

.icon-active {
  color: #aaff00;
}


#container {
  padding-top: 0px;
}

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 9999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialogOpen {
	opacity:0.95;
	pointer-events: auto;
}

.modalDialogClose {
	opacity:0;
	pointer-events: none;
}

.modalDialog > div {
	width: 275px;
	position: relative;
	margin: 3% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
}

.modalDialogCloseButton {
	line-height: 50px;
	position: absolute;
	right: -25px;
	text-align: center;
	top: -20px;
	width: 50px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.modalDialogCloseButton:hover { background: #444; }

.widget-basedisplay-default-temperatura-sala .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-temperatura-sala .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-temperatura-sala .valueunit {
	width: 100%;
	vertical-align: middle;
}

.widget-basedisplay-default-temperatura-sala .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-temperatura-sala .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-temperatura-sala .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-sensor-humidade-sala .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-sensor-humidade-sala .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-humidade-sala .valueunit {
	width: 100%;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-humidade-sala .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-sensor-humidade-sala .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-sensor-humidade-sala .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-sensor-temperatura-quarto .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-sensor-temperatura-quarto .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-temperatura-quarto .valueunit {
	width: 100%;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-temperatura-quarto .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-sensor-temperatura-quarto .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-sensor-temperatura-quarto .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-sensor-humidade-quarto .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-sensor-humidade-quarto .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-humidade-quarto .valueunit {
	width: 100%;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-humidade-quarto .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-sensor-humidade-quarto .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-sensor-humidade-quarto .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-temperature-158d00023203e4 .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-temperature-158d00023203e4 .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-temperature-158d00023203e4 .valueunit {
	width: 100%;
	vertical-align: middle;
}

.widget-basedisplay-default-temperature-158d00023203e4 .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-temperature-158d00023203e4 .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-temperature-158d00023203e4 .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-humidity-158d00023203e4 .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-humidity-158d00023203e4 .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-humidity-158d00023203e4 .valueunit {
	width: 100%;
	vertical-align: middle;
}

.widget-basedisplay-default-humidity-158d00023203e4 .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-humidity-158d00023203e4 .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-humidity-158d00023203e4 .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-0x00158d00044b86f8-temperature .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-0x00158d00044b86f8-temperature .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-0x00158d00044b86f8-temperature .valueunit {
	width: 100%;
	vertical-align: middle;
}

.widget-basedisplay-default-0x00158d00044b86f8-temperature .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-0x00158d00044b86f8-temperature .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-0x00158d00044b86f8-temperature .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-0x00158d00044b86f8-humidity .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-0x00158d00044b86f8-humidity .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-0x00158d00044b86f8-humidity .valueunit {
	width: 100%;
	vertical-align: middle;
}

.widget-basedisplay-default-0x00158d00044b86f8-humidity .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-0x00158d00044b86f8-humidity .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-0x00158d00044b86f8-humidity .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-sensor-portao-entrada .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-sensor-portao-entrada .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-portao-entrada .valueunit {
	width: 100%;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-portao-entrada .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-sensor-portao-entrada .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-sensor-portao-entrada .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-sensor-portao-jardim .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-sensor-portao-jardim .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-portao-jardim .valueunit {
	width: 100%;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-portao-jardim .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-sensor-portao-jardim .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-sensor-portao-jardim .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-abrir-portao-grande .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-abrir-portao-grande .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-abrir-portao-grande .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-abrir-portao-grande .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-abrir-portao-grande .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-abrir-portao-pequeno .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-abrir-portao-pequeno .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-abrir-portao-pequeno .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-abrir-portao-pequeno .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-abrir-portao-pequeno .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-portao-30 .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-portao-30 .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-portao-30 .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-portao-30 .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-portao-30 .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-fechar-portao .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-fechar-portao .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-fechar-portao .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-fechar-portao .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-fechar-portao .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-on-off-pc .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-on-off-pc .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-on-off-pc .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-on-off-pc .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-on-off-pc .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-basedisplay-default-sensor-pc-on-off .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-sensor-pc-on-off .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-pc-on-off .valueunit {
	width: 100%;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-pc-on-off .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-sensor-pc-on-off .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-sensor-pc-on-off .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-monitor-do-pc .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-monitor-do-pc .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-monitor-do-pc .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-monitor-do-pc .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-monitor-do-pc .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-basejavascript-default-load-main-panel .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basejavascript-default-load-main-panel .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basejavascript-default-load-main-panel .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basejavascript-default-load-main-panel .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-basejavascript-default-load-radio-panel .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basejavascript-default-load-radio-panel .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basejavascript-default-load-radio-panel .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basejavascript-default-load-radio-panel .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
